<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<!-- Home Contents -->
<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">Shop By Categories</h1>
    <br>
    <div class="row flow-offset-1">
        <!-- List Of Categories -->
      <div class="col-xs-6 col-md-4">
        <div class="product tumbnail thumbnail-3"><a href="products/mensupperwear"><img src="../../../assets/mensupperwear.jpg" height="400px" width="350px" alt="image"></a>
          <div class="caption">
            <h6><a href="products/mensupperwear">Men's Upperwear</a></h6>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="product tumbnail thumbnail-3"><a href="products/menslowerwear"><img src="../../../assets/menslowerwear.jpg" height="400px" width="350px" alt="image"></a>
          <div class="caption">
            <h6><a href="products/menslowerwear">Men's Lowerwear</a></h6>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="product tumbnail thumbnail-3"><a href="products/mensfootwear"><img src="../../../assets/mensfootwear.jpg" height="400px" width="400px" alt="image"></a>
          <div class="caption">
            <h6><a href="products/mensfootwear">Men's Footwear</a></h6>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xs-6 col-md-4">
        <div class="product tumbnail thumbnail-3"><a href="products/womensupperwear"><img src="../../../assets/womensupperwear.jpg" height="400px" width="350px" alt="image"></a>
          <div class="caption">
            <h6><a href="products/womensupperwear">Women's Upperwear</a></h6>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="product tumbnail thumbnail-3"><a href="products/womenslowerwear"><img src="../../../assets/womenslowerwear.jpg" height="400px" width="350px" alt="image"></a>
          <div class="caption">
            <h6><a href="products/womenslowerwear">Women's Lowerwear</a></h6>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="product tumbnail thumbnail-3"><a href="products/womensfootwear"><img src="../../../assets/womensfootwear.jpg" height="400px" width="400px" alt="image"></a>
          <div class="caption">
            <h6><a href="products/womensfootwear">Women's Footwear</a></h6>
          </div>
        </div>
      </div>
      
    </div>
  </div>